<!DOCTYPE html>
    <%- include('../partials/head'); %>
    <body class="container">
        <%- include('../partials/header'); %>
        <main>
            <div class="jumbotron">
                <H1>Node com EJS</H1>
                <p>Vamos apreder a trabalhar com arquivos EJS</p>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>

</html>

